In [1]:
import pandas as pd

In [2]:
# Veri setlerini oku
df1 = pd.read_csv('cleaned_new_york_city.csv')
df2 = pd.read_csv('cleaned_chicago_city.csv')
df3 = pd.read_csv('cleaned_washington.csv')

/var/folders/r7/r6jcfn2n4yx3dx6k1p_d4s5h0000gn/T/ipykernel_35547/3275924538.py:4: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('cleaned_washington.csv')

#### Data Frames

In [3]:
df1.head(4)

,Trip Duration,Start Time,End Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0

In [4]:
df2.head(4)

,Trip Duration,Start Time,End Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789211,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1

In [15]:
df3.head(4)

,Trip Duration,Start Time,End Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,578,2017-12-01 00:00:29,2017-12-01 00:10:08,368,Carmine St & 6 Ave,40.730386,-74.002150,505,6 Ave & W 33 St,40.749013,-73.988484,31208,Subscriber,1981.0,1
1,682,2017-12-01 00:00:36,2017-12-01 00:11:59,3136,5 Ave & E 63 St,40.766368,-73.971518,529,W 42 St & 8 Ave,40.757570,-73.990985,16957,Subscriber,NaN,0
2,2262,2017-12-01 00:00:40,2017-12-01 00:38:23,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,438,St Marks Pl & 1 Ave,40.727791,-73.985649,27807,Subscriber,1975.0,1
3,213,2017-12-01 00:00:45,2017-12-01 00:04:18,383,Greenwich Ave & Charles St,40.735238,-74.000271,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,20842,Subscriber,1985.0,2

#### Our Codes

In [6]:
# Convert 'Start Time' column to datetime format
df1['Start Time'] = pd.to_datetime(df1['Start Time'])
df2['Start Time'] = pd.to_datetime(df2['Start Time'])
df3['Start Time'] = pd.to_datetime(df3['Start Time'])

In [7]:
# Create DataFrames by month
df_month1 = df1[df1['Start Time'].dt.month == 1]
df_month2 = df1[df1['Start Time'].dt.month == 2]
df_month3 = df1[df1['Start Time'].dt.month == 3]
df_month4 = df1[df1['Start Time'].dt.month == 4]
df_month5 = df1[df1['Start Time'].dt.month == 5]
df_month6 = df1[df1['Start Time'].dt.month == 6]
df_month7 = df2[df2['Start Time'].dt.month == 7]
df_month8 = df2[df2['Start Time'].dt.month == 8]
df_month9 = df2[df2['Start Time'].dt.month == 9]
df_month10 = df3[df3['Start Time'].dt.month == 10]
df_month11 = df3[df3['Start Time'].dt.month == 11]
df_month12 = df3[df3['Start Time'].dt.month == 12]

In [11]:
outer_loop = True

while outer_loop:
    # Get city selection from user
    selected_city = input("Please select a city (New York City, Chicago or Washington): ")

    # Determine valid months based on current city
    valid_months = []
    if selected_city.lower() == 'new york city':
        valid_months = [1, 2, 3, 4, 5, 6]
    elif selected_city.lower() == 'chicago':
        valid_months = [7, 8, 9]
    elif selected_city.lower() == 'washington':
        valid_months = [10, 11, 12]
    else:
        print("Invalid city selection. Please choose New York City, Chicago or Washington.")
        continue

    inner_loop = True

    while inner_loop:
        # Select the relevant dataframe based on month selection
        selected_month = int(input(f"Please select a month between {', '.join(map(str, valid_months))} : "))
        if selected_month not in valid_months:
            print("Invalid month selection. Please select a valid month.")
            continue

        selected_df = globals()[f'df_month{selected_month}']

        # Show questions to user
        print("Questions:")
        print("1. Le jour de la semaine avec le plus d'activité")
        print("2. L'heure de démarrage la plus courante")
        print("3. La durée de voyage moyen sur la période (mois)")
        print("4. Le total pour chaque catégorie de User")
        print("5. Le nombre total de femmes et d'hommes sur la période")
        print("6. L'année de naissance la plus ancienne")
        print("7. L'année de naissance la plus récente")
        print("8. L'année de naissance la plus courante sur la période (avec le nombre d'occurence)")
        print("9. Exit (No)")

        # Kullanıcıdan soru seçimini al
        selected_question = input("Lütfen bir soru numarası seçin (1-9) veya çıkmak için 'No' yazın: ")

        # Take action according to the selected question
        if selected_question == '1':
            most_active_day = selected_df['Start Time'].dt.day_name().mode().values[0]
            print(f"Le jour de la semaine avec le plus d'activité est: {most_active_day}")
        elif selected_question == '2':
            most_common_hour = selected_df['Start Time'].dt.hour.mode().values[0]
            print(f"L'heure de démarrage la plus courante est: {most_common_hour} heures")
        elif selected_question == '3':
            total_trip_duration = selected_df['Trip Duration'].sum()
            total_records = len(selected_df)
            average_trip_duration = total_trip_duration / total_records
            print(f"La durée de voyage moyen sur la période (mois): {average_trip_duration} seconde")
        elif selected_question == '4':
            gender_counts = selected_df['Gender'].value_counts()
            print("Le total pour chaque catégorie de User:")
            print(gender_counts)
        elif selected_question == '5':
            gender_counts = selected_df['Gender'].value_counts()
            print("Le nombre total de femmes et d'hommes sur la période:")
            print(gender_counts)
        elif selected_question == '6':
            oldest_birth_year = selected_df['Birth Year'].min()
            print(f"L'année de naissance la plus ancienne est: {oldest_birth_year}")
        elif selected_question == '7':
            latest_birth_year = selected_df['Birth Year'].max()
            print(f"L'année de naissance la plus récente est: {latest_birth_year}")
        elif selected_question == '8':
            most_common_birth_year = selected_df['Birth Year'].mode().values[0]
            occurrence_count = selected_df[selected_df['Birth Year'] == most_common_birth_year].shape[0]
            print(f"L'année de naissance la plus courante sur la période est: {most_common_birth_year} avec {occurrence_count} occurrences")
        elif selected_question.lower() == 'no':
            print("The program is terminating. Have a nice day!")
            inner_loop = False
        else:
            print("Invalid question number. Please enter a number between 1 and 9 or 'No'.")

        # Ask the user if they want to continue
        continue_choice = input("Do you want to continue? (Yes/No): ")
        if continue_choice.lower() != 'yes':
            print("The program is terminating. Have a nice day!")
            outer_loop = False
            break

Sorular:
1. Le jour de la semaine avec le plus d'activité
2. L'heure de démarrage la plus courante
3. La durée de voyage moyen sur la période (mois)
4. Le total pour chaque catégorie de User
5. Le nombre total de femmes et d'hommes sur la période
6. L'année de naissance la plus ancienne
7. L'année de naissance la plus récente
8. L'année de naissance la plus courante sur la période (avec le nombre d'occurence)
9. Çıkış (No)
La durée de voyage moyen sur la période (mois): 730.1097739849323 seconde
Sorular:
1. Le jour de la semaine avec le plus d'activité
2. L'heure de démarrage la plus courante
3. La durée de voyage moyen sur la période (mois)
4. Le total pour chaque catégorie de User
5. Le nombre total de femmes et d'hommes sur la période
6. L'année de naissance la plus ancienne
7. L'année de naissance la plus récente
8. L'année de naissance la plus courante sur la période (avec le nombre d'occurence)
9. Çıkış (No)
Le jour de la semaine avec le plus d'activité est: Wednesday
Sorular:
1. Le jour de la semaine avec le plus d'activité
2. L'heure de démarrage la plus courante
3. La durée de voyage moyen sur la période (mois)
4. Le total pour chaque catégorie de User
5. Le nombre total de femmes et d'hommes sur la période
6. L'année de naissance la plus ancienne
7. L'année de naissance la plus récente
8. L'année de naissance la plus courante sur la période (avec le nombre d'occurence)
9. Çıkış (No)
Le jour de la semaine avec le plus d'activité est: Thursday
Program sonlandırılıyor. İyi günler!